@import "tailwindcss";


#hero-carousel {
    font-family: var(--font-vogue);
}

h1 {
    font-family: var(--font-vogue);
    line-height: 0.8;
}

h2,h3,p {
    font-family: var(--font-jost);
    font-weight: 300;
}

h2 {
    line-height: 0.8;
}

.hamburger-links {
    font-family: var(--font-jost);
}

#hero-carousel span {
    mix-blend-mode: exclusion;
    color: black;
}

