@import "tailwindcss";


#hero-carousel {
    font-family: var(--font-boska);
}

h1 {
    font-family: var(--font-boska);
    line-height: 0.8;
}

h2,h3,p {
    font-family: var(--font-inter);
}

h2 {
    line-height: 0.8;
}

.hamburger-links {
    font-family: var(--font-boska);
}

#hero-carousel span {
    mix-blend-mode: exclusion;
    color: black;
}

.hero-cta {
    position: relative;
    transition: color .3s;
    color: oklch(26.9% 0 0);
    overflow: hidden;
}

.hero-cta::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0%;
    width: 100%;
    background-color: oklch(26.9% 0 0);
    z-index: 0;
    transition: height .3s;
}

.hero-cta:hover {
    color: white;
}

.hero-cta:hover::before {
    height: 100%;
}

.hero-cta span {
    position: relative;
    z-index: 1; /* Sits above ::before */
}
