@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

#hero-carousel {
    font-family: var(--font-boska);
}

h1 {
    font-family: var(--font-boska);
    line-height: 0.8;
    font-style: italic;
}

h2,h3,p {
    font-family: var(--font-jost);
    font-weight: 300;
}

h2 {
    line-height: 0.8;
}

.hamburger-links {
    font-family: var(--font-jost);
}

#hero-carousel span {
    mix-blend-mode: exclusion;
    color: black;
}

